<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>{{site.sliderhead}}</h2>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{site.slidersmalltext}}</p>
                            <a href="https://bridgetownpartners.cashflowportal.com/" class="btn" data-animation="fadeInUp" data-delay=".6s">Prepare to Invest</a>
                            <a href="https://www.cashflowportal.com/offering/a026cf68deda468da97c5e69ca405c19" class="btn" data-animation="fadeInUp" data-delay=".6s">Latest Offering</a>
                            <!--<a href="https://www.cashflowportal.com/offering/a026cf68deda468da97c5e69ca405c19" class="btn" data-animation="fadeInUp" data-delay=".6s">Prepare to Invest</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>{{site.sliderhead}}</h2>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{site.slidersmalltext}}</p>
                            <a href="https://bridgetownpartners.cashflowportal.com/" class="btn" data-animation="fadeInUp" data-delay=".6s">Prepare to Invest</a>
                            <a href="https://www.cashflowportal.com/offering/a026cf68deda468da97c5e69ca405c19" class="btn" data-animation="fadeInUp" data-delay=".6s">Latest Offering</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>{{site.sliderhead}}</h2>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{site.slidersmalltext}}</p>
                            <a href="/#contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider4.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>{{site.sliderhead}}</h2>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{site.slidersmalltext}}</p>
                            <a href="/#contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
</section>