<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>We serve the <span>commercial real estate</span> industry in two ways:</h2>
                            <ul>
                                <li><h2 data-animation="fadeInDown" data-delay=".2s">Buying properties.</h2></li>
                                <li><h2 data-animation="fadeInDown" data-delay=".2s">Building software.</h2></li>
                            </ul>
                            <p data-animation="fadeInLeft" data-delay=".4s">The Bridgetown Partners leadership team has closed commercial real estate deals in multiple asset classes. We are actively buying apartment properties. If you are selling, we invite you to contact us. And we’re building software to streamline the acquisition process.</p>
                            <a href="/#contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>Serving the <span>commercial real estate</span> industry.</h2>
                            <ul>
                                <li><h2 data-animation="fadeInDown" data-delay=".2s">Buying properties.</h2></li>
                                <li><h2 data-animation="fadeInDown" data-delay=".2s">Building software.</h2></li>
                            </ul>
                            <p data-animation="fadeInLeft" data-delay=".4s">The Bridgetown Partners leadership team has closed commercial real estate deals in multiple asset classes. We are actively buying apartment properties; sellers are welcome to contact us. And we’re building software to streamline the acquisition process.</p>
                            <a href="/#contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider-content">
                            <h2 data-animation="fadeInDown" data-delay=".2s"><br/><br/><br/>Serving the <span>commercial real estate</span> industry.</h2>
                            <ul>
                                <li><h2 data-animation="fadeInDown" data-delay=".2s">Buying properties.</h2></li>
                                <li><h2 data-animation="fadeInDown" data-delay=".2s">Building software.</h2></li>
                            </ul>
                            <p data-animation="fadeInLeft" data-delay=".4s">The Bridgetown Partners leadership team has closed commercial real estate deals in multiple asset classes. We are actively buying apartment properties; sellers are welcome to contact us. And we’re building software to streamline the acquisition process.</p>
                            <a href="/#contact" class="btn" data-animation="fadeInUp" data-delay=".6s">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</section>