<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    
    <div class="container">
        <div class="row">            
            <div class="col-xl-12 text-center pb-40">
                <div class="call-to-action white-text video-text">
                    <h3>Bridgetown in 65 seconds...</h3>
                    <!-- <p>65-second video: About Bridgetown Partners.<br/>&nbsp;<br/></p> -->
                    <div class="call-to-action">
                        <a href="https://www.youtube.com/watch?v=zK7TVqmWAHo" class="btn video-view">watch video</a>
                    </div>
                    <p>&nbsp;<br/>Video produced by <a href="https://BizDayGlobal.com">BizDayGlobal</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>