<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    <div class="container">
        <div class="row">
            <center>
            <div class="col-md-8 text-center">
                <div class="call-to-action white-text video-text">
                    <h3>The Four Steps to the Epiphany</h3>
                    <p>Startups fail at an alarming rate. What can an entrepreneur do to achieve success? Steve Blank, author and veteran of multiple startups, outlines one strategy for startup success in <i>The Four Steps to the Epiphany</i>. The book is summarized in this video by <a href="https://rayhightower.com">Ray Hightower</a>, CEO of Bridgetown Partners.<br/>&nbsp;<br/></p>
                    <div class="call-to-action">
                        <a href="https://www.youtube.com/watch?v=NRKeoRGoksI" class="btn video-view">watch video</a>
                    </div>
                    <p>&nbsp;<br/>Video produced by <a href="https://BizDay.LA">BizDay.LA</a>.</p>
                </div>
            </div>
            </center>
        </div>
    </div>
</section>