<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    
    <div class="container">
        <div class="row">            
            <div class="col-xl-12 text-center pb-40">
                <div class="call-to-action white-text video-text">
                    <h3>A Conversation...</h3>
                    <p>20-minute video: Dawn Comer interviews the CEO of Bridgetown Partners, <a href="https://RayHightower.com">Ray Hightower</a>.<br/>&nbsp;<br/></p>
                    <div class="call-to-action">
                        <a href="https://www.youtube.com/watch?v=G7Bt6q0hgnM" class="btn video-view">watch video</a>
                    </div>
                    <p>&nbsp;<br/>Video produced by <a href="https://BizDayGlobal.com">BizDayGlobal</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>